#root{
    background-image: url("./images/bacjground2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.addBackground{
    background-image: url("./images/bacjground2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}