<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookmanage.mapper.InfoMapper">
    <select id="getInfoList" resultType="java.util.HashMap">
        select infoid, bookid, infotime, bookid, bookname, booktype, lendnum, image, allnum, intro, remainnum
        from info, books where info.bookid = books.bookid
    </select>

    <insert id="insertOneInfo">
        insert into `info`(bookid, infotime) values (#{bookid}, #{infotime})
    </insert>

    <delete id="deleteOneInfo">
        delete from `info` where infoid = #{infoid}
    </delete>
</mapper>